<!DOCTYPE html>
<%- include partials/head.ejs %> 

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <!--Nav bar-->
     <%- include partials/navbar.ejs %> 
      <!--sidebar-->
    
<%- include partials/sidebar.ejs %> 
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Profile</h1>
            <div class="section-header-breadcrumb">
              <div class="breadcrumb-item active"><a href="#"></a></div>
              <div class="breadcrumb-item">Profile</div>
            </div>
          </div>
          <div class="section-body">
           

            <div class="row mt-sm-4">
              <div class="col-12 col-md-12 col-lg-6">
                <div class="card author-box card-primary">
                  <div class="card-body">
                    <div class="author-box-left">
                       <img alt="image" src="/uploads/<%= user.img %> " class="rounded-circle author-box-picture" data-toggle="tooltip" title="<%= user.name %>">
                     
                    </div>
                    <div class="author-box-details">
                      <div class="author-box-name">
                        <a href="#"></a>
                      </div>
                      <div class="author-box-job"></div>
                      <div class="author-box-description">
                        <p>perfil Corretor.</p>
                      </div>
                      <div class="mb-2 mt-3"><div class="text-small font-weight-bold"></div></div>
              
                      <div class="w-100 d-sm-none"></div>
                      <div class="card-footer text-center">
                        <a href="#" class="btn btn-primary btn-round"  data-toggle="modal" data-target="#exampleModal">Editar perfil</a>
                                    <hr>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                  
                  <form method="post" class="needs-validation" novalidate="">
                    <div class="card-body">
                        <div class="row">                               
                          <div class="form-group col-md-6 col-12">
                            <label for="">Provincia</label>
                            <input type="text" class="form-control" disabled value="<%= user.provincia %>" required="">
                          
                          </div>
                          <div class="form-group col-md-6 col-12">
                            <label for="">Municipio</label>
                            <input type="text" class="form-control" disabled value="<%= user.municipio %>" required="">
                           
                          </div>
                        </div>
                        <div class="row">                               
                          <div class="form-group col-md-6 col-12">
                          
                            <input type="text" class="form-control" disabled value="<%= user.tel %>" required="">
                        
                          </div>
                          <div class="form-group col-md-6 col-12">
                        
                            <input type="text" class="form-control" disabled value="<%= user.email %>" required="">
                         
                          </div>
                        </div>
                       
                   
                    </div>
                  </form>
                </div>
              </div>
  
             
              <div class="card-body">
              
                <div class="table-responsive">
                  Local Designado
                  <table class="table table-striped" id="table-1">
                    <thead>                                 
                      <tr>
                        <th >
                          #
                        </th>
                        <th>Provincia</th>
                        <th>Municipio</th>
                   
                       
                        
                      </tr>
                    </thead>
                    <tbody>   
                      <% local.forEach(local => { %>                              
                      <tr>
                        <td>
                          <%= local.id %> 
                        </td>
                        <td><%= local.provincia %> </td>
                        <td><%= local.municipio %> </td>
                      
                      </tr>
                     
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
              
            </div>
          </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; <script>
                document.write(new Date().getFullYear())
            </script>
        </div>
        <div class="footer-right">
          <div class="modal fade" tabindex="-1" role="dialog" id="exampleModal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="POST" action="/corretor/perfil/update" class="needs-validation" novalidate="">
                    <div class="row">
                      <div class="form-group col-6">
                        <label for="frist_name">Nome:</label>
                        <input id="frist_name" type="text" class="form-control" name="name"
                          value="<%= user.name %> " autofocus required>
                        <div class="invalid-feedback">
                          nome esta vazio

                        </div>
                      </div>
                      <div class="form-group col-6">
                        <label for="last_name">Username:</label>
                        <input id="last_name" type="text" class="form-control" name="user_name"
                          value="<%= user.user_name %> " autofocus required>
                        <div class="invalid-feedback">
                          nome de usuario esta vazio

                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-6">
                        <label for="frist_name">E-mail:</label>
                        <input id="frist_name" type="email" class="form-control" name="email"
                          value="<%= user.email %> " autofocus required>
                        <div class="invalid-feedback">
                          nome esta vazio

                        </div>
                      </div>
                      <div class="form-group col-6">
                        <label for="last_name">Contacto:</label>
                        <input id="last_name" type="text" class="form-control" name="tel" value="<%= user.tel %> "
                          autofocus required>
                        <div class="invalid-feedback">
                          nome de usuario esta vazio

                        </div>
                      </div>
                    </div>




                    <div class="form-divider">

                    </div>


                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="agree" class="custom-control-input" id="agree" autofocus
                          required>
                        <label class="custom-control-label" for="agree">Eu concordo com as condições</label>

                      </div>
                    </div>
                  

                          <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">
                              Atualizar
                            </button>
                          </div>
                  </form>
                </div>
                <div class="modal-footer bg-whitesmoke br">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
              </div>
            </div>
          </div>
          
        </div>
      </footer>
    </div>
  </div>


  <!-- General JS Scripts -->
  <script src="/assets/modules/jquery.min.js"></script>
  <script src="/assets/modules/popper.js"></script>
  <script src="/assets/modules/tooltip.js"></script>
  <script src="/assets/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="/assets/modules/moment.min.js"></script>
  <script src="/assets/js/stisla.js"></script>
  
  <!-- JS Libraies -->
  <script src="/assets/modules/summernote/summernote-bs4.js"></script>

  <!-- Page Specific JS File -->
  
  <!-- Template JS File -->
  <script src="/assets/js/scripts.js"></script>
  <script src="/assets/js/custom.js"></script>
  <script src="/assets/modules/chart.min.js"></script>

  <script src="/assets/modules/sweetalert/sweetalert2.all.min.js"></script>
  <% if(certo.length >0){%>
    <script>
     Swal.fire(
    'Showww!',
    '<%=certo %>!',
    'success'
  )

    </script>
    <% }else if(errado.length >0) {%>
      <script>
        Swal.fire({
icon: 'error',
title: 'Oops...',
text: '<%=errado %>!',

})
        
      </script>
     <% }else if(info.length >0) {%>
      <script>
        Swal.fire({
icon: 'info',
title: 'Opa...',
text: '<%=info %>!',

})
        
      </script>
      <% }%>
</body>
</html>
