<!DOCTYPE html>
<%- include partials/head.ejs %>

  <body>
    <div id="app">
      <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <!--Nav bar-->
        <%- include partials/navbar.ejs %>
          <!--sidebar-->

          <%- include partials/sidebar.ejs %>
            <!-- Main Content -->
            <div class="main-content">
              <section class="section">
                <div class="section-header">
                  <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active"><a href="#"></a></div>
                    <div class="breadcrumb-item">Profile</div>
                  </div>
                </div>
                <div class="section-body">
                  <div class="row mt-sm-4">
                    <div class="col-12 col-md-12 col-lg-6">
                      <div class="card author-box card-primary">
                        <div class="card-body">
                          <div class="author-box-left">
                            <img alt="image" src="/uploads/<%= user.img %> " class="rounded-circle author-box-picture"
                              data-toggle="tooltip" title="<%= user.name %>">

                          </div>
                          <div class="author-box-details">
                            <div class="author-box-name">
                              <a href="#"></a>
                            </div>
                            <div class="author-box-job"></div>
                            <div class="author-box-description">
                              <p>perfil Corretor.</p>
                            </div>
                            <div class="mb-2 mt-3">
                              <div class="text-small font-weight-bold"></div>
                            </div>

                            <div class="w-100 d-sm-none"></div>
                            <div class="card-footer text-center">
                              <% if(user.estado==0){%>
                                <button class="btn btn-success btn-round" onclick="ativar( `<%= user.id %>`)"> Ativar
                                  Conta</button>
                                <% } else{%>
                                  <button class="btn btn-danger btn-round" onclick="desativar( `<%= user.id %>`)">
                                    Desativar Conta</button>
                                  <%}%>
                                    <hr>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                      <div class="card">

                        <form method="post" class="needs-validation" novalidate="">
                          <div class="card-body">
                            <div class="row">
                              <div class="form-group col-md-6 col-12">
                                <label for="">Provincia selecionado</label>
                                <input type="text" class="form-control" disabled value="<%= user.provincia %>"
                                  required="">
                                <div class="invalid-feedback">
                                  Please fill in the first name
                                </div>
                              </div>
                              <div class="form-group col-md-6 col-12">
                                <label for="">Municipio Selecionado</label>
                                <input type="text" class="form-control" disabled value="<%= user.municipio %>"
                                  required="">
                                <div class="invalid-feedback">
                                  Please fill in the last name
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-md-6 col-12">

                                <input type="text" class="form-control" disabled value="<%= user.tel %>" required="">
                                <div class="invalid-feedback">
                                  Please fill in the first name
                                </div>
                              </div>
                              <div class="form-group col-md-6 col-12">

                                <input type="text" class="form-control" disabled value="<%= user.email %>" required="">
                                <div class="invalid-feedback">
                                  Please fill in the last name
                                </div>
                              </div>
                            </div>


                          </div>
                        </form>
                      </div>
                    </div> 
                    <div class="col-12 col-md-6 col-lg-12">
                      <div class="card">
                     
                        <div class="card-header">
                          <a href="#" data-toggle="modal" data-target="#exampleModal">
                            <h2><i class="ion-plus-circled" title="Adicionar novo local de atuação"
                                data-toggle="tooltip"></i></h2>
                          </a>

                        </div>
                       
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-striped" id="table-1">
                              <thead>
                                <tr>
                                  <th>
                                    #
                                  </th>
                                  <th>Provincia</th>
                                  <th>Municipio</th>
                                  <th>Acção</th>


                                </tr>
                              </thead>
                              <tbody>
                                <% local.forEach(local=> { %>
                                  <tr>
                                    <td>
                                      <%= local.id %>
                                    </td>
                                    <td>
                                      <%= local.provincia %>
                                    </td>
                                    <td>
                                      <%= local.municipio %>
                                    </td>
                                    <td>
                                      <button class="btn btn-danger" onclick="del(`<%=local.id%>`)"> <i
                                          class="fa fa-trash"></i> Deletar </button>
                                    </td>
                                  </tr>

                                  <% }) %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12">

                      <div class="card">
                        <div class="card-header">
                          <h4>informações</h4>
                          <div class="card-header-action">
                            <a data-collapse="#mycard-collapse" class="btn btn-icon btn-info" href="#"><i
                                class="fas fa-minus"></i></a>
                          </div>
                        </div>
                        <div class="collapse show" id="mycard-collapse">
                          <div class="card-body">
                          
                            <table class="table table-striped" id="table-1">
                              <thead>
                                <tr>
                                  <th>
                                    #
                                  </th>
                                  <th>Data</th>
                                  <th>Provincia</th>
                                  <th>Municipio</th>
                                  <th>Sinistralidade</th>
                                  <th>estado</th>
                                  <th>Matricula Assegurado</th>
                               


                                </tr>
                              </thead>
                              <tbody>
                                <% rela_n.forEach(rela_n=> { %>
                                  <tr>
                                    <td>
                                      <%= rela_n.id %>
                                    </td>
                                    <td>
                                      <%= rela_n.createdAt %>
                                    </td>
                                    <td>
                                      <%= rela_n.notificaco.provincia %>
                                    </td>
                                    <td>
                                      <%= rela_n.notificaco.municipio %>
                                    </td>
                                    <td>
                                      <%= rela_n.tipo_sinistralidade%>
                                    </td>
                                    <td>
                                      <% if(rela_n.estado>0 ){%>
                                   
                                      <div class="badge badge-success">Resolvido</div>
                                      <%}else{%>
                                        <div class="badge badge-warning">Não foi resolvido</div>
                                        <% }%>
                                    </td>

                                    <td>
                                      <%= rela_n.notificaco.matricula %>
                                    </td>

                                  </tr>

                                  <% }) %>
                              </tbody>
                            </table>
                          </div>
                          <div class="card-footer text-right">

                          </div>
                        </div>
                      </div>
                    </div>





                  </div>
                </div>
               
                <div class="card">
                  <div class="card-header">
                    <h4>Relatório de Ocorrencia</h4>
                  </div>
                  <div class="card-body">
                    <form action="/admin/funcionario" method="post">
                      <input type="hidden" class="form-control" name="id" id="inputCity" value="<%= user.id %> ">
                      <div class="form-row">
                        <div class="form-group col-4">
                          <label for="inputCity">De</label>
                          <input type="date" class="form-control" name="inicio" id="inputCity">
                        </div>
                        <div class="form-group col-4">
                          <label for="inputCity">Até</label>
                          <input type="date" class="form-control" name="fim" id="inputCity">
                        </div>


                        <div class="form-group col-md-4">
                          <label for="inputCity">.</label>
                          <input type="submit" class="form-control tn btn-primary btn-round" value="Pesquisar">
                        </div>

                      </div>
                    </form>
                  </div>
                  <div class="card-footer">

                  </div>
                </div>
              </section>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" id="exampleModal">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Cadastrando novo local de atuação</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form method="POST" action="/localatuacao" class="needs-validation" novalidate="">
                      <input type="hidden" name="id" value="<%=user.id%> ">

                      <div class="row">
                        <div class="form-group col-6">
                          <label>Provincia:</label>
                          <select required class="form-control " name="provincia" id="slctprovincia"
                            onchange="populate(this.id,'slctmunicipio')" autofocus>

                            <option disabled="disabled" selected="selected"> Escolha a província</option>
                            <option value="luanda">Luanda</option>
                            <option value="benguela">Benguela</option>
                            <option value="bengo">Bengo</option>
                            <option value="bié">Bié</option>
                            <option value="cabinda">Cabinda</option>
                            <option value="cuando-cubango">Cuando-Cubango</option>
                            <option value="cuanza norte">Cuanza Norte</option>
                            <option value="cuanza sul">Cuanza Sul</option>
                            <option value="cunene">Cunene</option>
                            <option value="huambo">Huambo</option>
                            <option value="huíla">Huíla</option>
                            <option value="lunda norte">Lunda Norte</option>
                            <option value="lunda sul">Lunda Sul</option>
                            <option value="malange">Malange</option>
                            <option value="moxico">Moxico</option>
                            <option value="namibe">Namibe</option>
                            <option value="uíge">Uíge</option>
                            <option value="zaire">Zaire</option>

                          </select>
                          <div class="invalid-feedback">
                            Provincia esta vazio

                          </div>

                        </div>
                        <div class="form-group col-6">
                          <label>Municipio:</label>

                          <select autofocus required name="municipio" id="slctmunicipio" class="form-control">
                            <option disabled="disabled" selected="selected"> Escolha o municipio</option>
                          </select>
                          <div class="invalid-feedback">
                            Municipio esta vazio

                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" name="agree" class="custom-control-input" id="agree" autofocus
                            required>
                          <label class="custom-control-label" for="agree"></label>
                          <div class="invalid-feedback">
                            Tudo em orden

                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">
                          Registar
                        </button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer bg-whitesmoke br">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                  </div>
                </div>
              </div>
            </div>


            <footer class="main-footer">
              <div class="footer-left">
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear())
                </script>
              </div>
              <div class="footer-right">

              </div>
            </footer>
      </div>
    </div>

    <!-- General JS Scripts -->
    <script src="/assets/modules/jquery.min.js"></script>
    <script src="/assets/modules/popper.js"></script>
    <script src="/assets/modules/tooltip.js"></script>
    <script src="/assets/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="/assets/modules/moment.min.js"></script>
    <script src="/assets/js/stisla.js"></script>
    <script src="/script/ApiProvincia-municipio.js"></script>

    <!-- JS Libraies -->
    <script src="/assets/modules/summernote/summernote-bs4.js"></script>
    <script src="/assets/modules/sweetalert/sweetalert2.all.min.js"></script>
    <script src="/assets/modules/chart.min.js"></script>
    <% if(certo.length>0){%>
      <script>
        Swal.fire(
          'Certo',
          '<%=certo %>!',
          'success'
        )

      </script>
      <% }else if(errado.length>0) {%>
        <script>
          Swal.fire({
            icon: 'error',
            title: 'Opa.',
            text: '<%=errado %>!',

          })

        </script>
        <% }%>


          <script>
            function deletar(id) {

              Swal.fire({
                title: 'Queres Deletar essa Viatura?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirmar',

              }).then((result) => {
                /* Read more about isConfirmed, isDenied below   */
                if (result.isConfirmed) {

                  window.location = '/admin/deletar_viatura/' + id;
                } else if (result.isDenied) {
                  Swal.fire('Erro ao eliminar', '', 'info')
                }
              })
            }
            function ativar(id) {

              function del(id) {

                Swal.fire({
                  title: 'Queres desativar esta conta ?',
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Confirmar',

                }).then((result) => {
                  /* Read more about isConfirmed, isDenied below   */
                  if (result.isConfirmed) {

                    window.location = '/deletar/local/' + id;
                  } else if (result.isDenied) {
                    Swal.fire('Erro ao eliminar', '', 'info')
                  }
                })
              }
              Swal.fire({
                title: 'Queres ativar esta conta?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirmar',

              }).then((result) => {
                /* Read more about isConfirmed, isDenied below   */
                if (result.isConfirmed) {

                  window.location = '/admin/ativar/' + id;
                } else if (result.isDenied) {
                  Swal.fire('Erro ao eliminar', '', 'info')
                }
              })
            }
            function desativar(id) {

              Swal.fire({
                title: 'Queres desativar esta conta ?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirmar',

              }).then((result) => {
                /* Read more about isConfirmed, isDenied below   */
                if (result.isConfirmed) {

                  window.location = '/admin/desativar/' + id;
                } else if (result.isDenied) {
                  Swal.fire('Erro ao eliminar', '', 'info')
                }
              })
            }
            function del(id) {

              Swal.fire({
                title: 'Deletar Este Local ?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirmar',

              }).then((result) => {
                /* Read more about isConfirmed, isDenied below   */
                if (result.isConfirmed) {

                  window.location = '/deletar/local/' + id
                } else if (result.isDenied) {
                  Swal.fire('Erro ao eliminar', '', 'info')
                }
              })
            }
        
          </script>


          <!-- Page Specific JS File -->
          <script src="/assets/modules/chart.min.js"></script>
          <!-- Template JS File -->
          <script src="/assets/js/scripts.js"></script>
          <script src="/assets/js/custom.js"></script>
  </body>

  </html>