<!DOCTYPE html>
<%- include partials/head.ejs %> 

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <!--Nav bar-->
     <%- include partials/navbar.ejs %> 
      <!--sidebar-->
    
<%- include partials/sidebar.ejs %> 
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <div class="section-header-breadcrumb">
                  
              <div class="breadcrumb-item"><a href="#">Modules</a></div>
              <div class="breadcrumb-item active">Classificacao</div>
            </div>
      
          </div>
          
          <div class="row">
            <div class="col-lg-4">
              <div class="card card-large-icons">
                <div class="card-icon bg-primary text-white">
                  <i class="fas fa-chart-line"></i>
                </div>
                <div class="card-body">
                  <p>Classificação Sinistro.</p>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-large-icons">
                <div class="card-icon bg-primary text-white">
                  <i class="fas fa-chart-bar"></i>
                </div>
                <div class="card-body">
                  
                  <p>Nivel de escalabilidade</p>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-large-icons">
                <div class="card-icon bg-primary text-white">
                  <i class="fas fa-calendar-alt"></i>
                </div>
                <div class="card-body">
                  <p>Municípios mas Criticos.</p>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12 col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h4>estatistica recentes</h4>
                </div>
              
                <div class="card-body">             
                  <canvas id="myChart2" ></canvas>
                  
                </div>
              </div>
            </div>
          </div>
         
        </section>
        <div class="estatisticas">
       
        </div>
      </div>
     
    
      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; <script>
                document.write(new Date().getFullYear())
            </script>
        </div>
        <div class="footer-right">
          
        </div>
      </footer>
    </div>
  </div>

 <!-- General JS Scripts -->
 <script src="/assets/modules/jquery.min.js"></script>
 <script src="/assets/modules/popper.js"></script>
 <script src="/assets/modules/tooltip.js"></script>
 <script src="/assets/modules/bootstrap/js/bootstrap.min.js"></script>
 <script src="/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
 <script src="/assets/modules/moment.min.js"></script>
 <script src="/assets/js/stisla.js"></script>
 <script src="/assets/modules/chart.min.js"></script>
 <script>
    const municipio =[];
    const total =[];
    ` <% estatistica.forEach(estatistica=>{%>`
         
          municipio.push(` <%-estatistica.municipio %>`);
          total.push( `<%-estatistica.total %>`);
         
          ` <% })%> `
    
var ctx = document.getElementById("myChart2").getContext('2d');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: municipio,
    datasets: [{
      label: 'Estatistica',
      data: total,
      borderWidth: 2,
      backgroundColor: '#2aaeeb',
      borderColor: '#2aaeeb',
      borderWidth: 2.5,
      pointBackgroundColor: '#ffffff',
      pointRadius: 4
    }]
  },
  options: {
    legend: {
      display: false
    },
    scales: {
      yAxes: [{
        gridLines: {
          drawBorder: false,
          color: '#f2f2f2',
        },
        ticks: {
          beginAtZero: true
        }
      }],
      xAxes: [{
        ticks: {
          display: false
        },
        gridLines: {
          display: false
        }
      }]
    },
  }
});

 </script>
 
 <!-- JS Libraies -->
 <script src="/assets/modules/simple-weather/jquery.simpleWeather.min.js"></script>
 
 <script >
 
  </script>

 <script src="/assets/modules/jqvmap/dist/jquery.vmap.min.js"></script>
 <script src="/assets/modules/jqvmap/dist/maps/jquery.vmap.world.js"></script>
 <script src="/assets/modules/summernote/summernote-bs4.js"></script>
 <script src="/assets/modules/chocolat/dist/js/jquery.chocolat.min.js"></script>

 <!-- Page Specific JS File -->

 
 <!-- Template JS File -->
 <script src="/assets/js/scripts.js"></script>
 <script src="/assets/js/custom.js"></script>
</body>
</html>