<!DOCTYPE html>
<%- include partials/head.ejs %> 


<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <!--Nav bar-->
     <%- include partials/navbar.ejs %> 
      <!--sidebar-->
    
<%- include partials/sidebar.ejs %> 
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
           
            <div class="section-header-breadcrumb">
              
              <div class="breadcrumb-item"><a href="#">Modules</a></div>
              <div class="breadcrumb-item active">users</div>
            </div>
          </div>

          <div class="section-body">
          

            <div class="row">
              <div class="col-12">
                <div class="card">
                 
                
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped" id="table-1">
                        <thead>                                 
                          <tr>
                            <th class="text-center">
                              #
                            </th>
                            <th>Nome</th>
                            <th>Role</th>
                            <th>Pic</th>
                            <th>sexo</th>
                            <th>Accão</th>
                          </tr>
                        </thead>
                        <tbody>   
                          <% users.forEach(users => { %>                              
                          <tr>
                            <td>
                              <%= users.id %> 
                            </td>
                            <td><%= users.name %> </td>
                            <td>
                              <%if(users.role==0){%>
                                <div class="badge badge-primary">Cliente</div> 
                              
                             
                               <%}else{%> 
                                <div class="badge badge-light">foncionario</div>
                             
                                 <%} %>  
                            </td>
                            
                            <td>
                              <img alt="image" src="/uploads/<%= users.img %> " class="rounded-circle" width="35" data-toggle="tooltip" title="<%= users.user_name %> ">
                            </td>
                          
                            <td>
                              <%if(users.sexo=="MASCULINO"){%>
                                <div class="badge badge-success"><%= users.sexo %></div> 
                              
                             
                               <%}else{%> 
                                <div class="badge badge-warning"><%= users.sexo %></div>
                             
                                 <%} %>
                              
                            </td>
                            <td>
                            <%if(users.role==1){%>
                              <div class="badge badge-success">Conta restrita</div>
                             
                              <%} else{ %> 
                                <div class=" dropdown">
                                  <a href="#" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
                                  <div class="dropdown-menu">
                                    <div class="dropdown-title">Opções</div>
                                    <a class="dropdown-item has-icon" href="/admin/user/detalhes/<%=users.id%>" title="Detalhes Usuário" data-toggle="tooltip"><i class="fas fa-eye"></i> Ver</a>
                                    <a  class="dropdown-item has-icon" href="/admin/users/edit/<%= users.id %> " title="Editar Usuário" data-toggle="tooltip"><i class="fas fa-edit" ></i>Editar</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item has-icon text-danger" onclick="confirmar( `<%= users.id %>`)"  title="Deletar Usuário" data-toggle="tooltip"><i class="fas fa-trash-alt"></i> Deletar</a>
                                  </div>
                                </div>
                            <%}%> 
                            </td>
                          </tr>
                         
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                
           
            
          </div>
        </section>
      </div>
      
      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; <script>
                document.write(new Date().getFullYear())
            </script>
        </div>
        <div class="footer-right">
          
        </div>
      </footer>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="/assets/modules/jquery.min.js"></script>
  <script src="/assets/modules/popper.js"></script>
  <script src="/assets/modules/tooltip.js"></script>
  <script src="/assets/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="/assets/modules/moment.min.js"></script>
  <script src="/assets/js/stisla.js"></script>

 
  
  <!-- JS Libraies -->
  <script src="/assets/modules/datatables/datatables.min.js"></script>
  <script src="/assets/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script src="/assets/modules/datatables/Select-1.2.4/js/dataTables.select.min.js"></script>
  <script src="/assets/modules/jquery-ui/jquery-ui.min.js"></script>
  <script src="/assets/js/page/modules-ion-icons.js"></script>
  <script src="/script/ApiProvincia-municipio.js"></script>

  <!-- Page Specific JS File -->
  <script src="/assets/js/page/modules-datatables.js"></script>
  <script src="/assets/js/page/bootstrap-modal.js"></script>
  <script src="/assets/modules/sweetalert/sweetalert2.all.min.js"></script>
  <% if(certo.length >0){%>
    <script>
     Swal.fire(
    'Showww!',
    '`<%=certo %>`!',
    'success'
  )

    </script>
    <% }else if(errado.length >0) {%>
      <script>
        Swal.fire({
icon: 'error',
title: 'Oops...',
text: '`<%=errado %>`!',

})
        
      </script>
      <% }%>
  <script>
  function confirmar(id){
    
Swal.fire({
  title: 'Do you want to save the changes?',
icon:'warning',
  showCancelButton: true,
  confirmButtonColor:'#3085d6',
  cancelButtonColor:'#d33',
  confirmButtonText: 'Confirmar',

}).then((result) => {
  /* Read more about isConfirmed, isDenied below   */
  if (result.isConfirmed) {

   window.location = '/admin/user/delete/'+id;
  } else if (result.isDenied) {
    Swal.fire('Erro ao eliminar', '', 'info')
  }
})
  }
  </script>
  
  <!-- Template JS File -->
  <script src="/assets/js/scripts.js"></script>
  <script src="/assets/js/custom.js"></script>
</body>
</html>