<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Apolice de seguro</title>
	<link rel="stylesheet" href="/assets/css/apolicepdf.css">
	<link rel="stylesheet" href="/assets/modules/fontawesome/css/all.min.css">
</head>
<body>
	    <div class="container">
			<div class="left_side">
				<div class="profileText"> <!-- -->
					<div class="imgBx">
					<img src="/uploads/<%= apolice.user.img %>" alt=""> 
					</div>
					<h2><%= apolice.user.name %> <br> <span>Assegurado</span> </h2>
				</div>
				<div class="contactInfo">
					<h3 class="title">Dados Pessoal</h3>
				    <ul>
						<li>
							<span class="icon"> <i class="fas fa-phone"></i> </span>
							<span class="text">+244 <%= apolice.user.tel %> </span>
						</li>
						<li>
							<span class="icon"><i class="fas fa-envelope"></i></span>
							<span class="text"><%= apolice.user.email %> </span>
						</li>
						<li>
							<span class="icon"><i class="fas fa-globe"></i></span>
							<span class="text"> <%= apolice.user.user_name %> </span>
						</li>
					
						<li>
							<span class="icon"><i class="fas fa-map-marker"></i></span>
							<span class="text"> <%= apolice.user.endereco %> </span>
						</li>
						<li>
							<span class="icon"><i class="fas fa-money-check"></i></span>
							<span class="text">Nif 000-000-000</span>
						</li>
					</ul>
				</div>
				<div class="contactInfo education">
					<h3 class="title">Dados Veiculos</h3>
				    <ul>
						<li>
							<h5>principais </h5>
							<h4>Marca:<%= veiculo.marca %> </h4>
							<h4>Modelo:<%= veiculo.modelo %> </h4>
							<h4>Matricula:<%= veiculo.matricula %> </h4>
						</li>
						<li>
							<h5>informativas </h5>
							<h4>Cc:<%= veiculo.cilindrada %> </h4>
							<h4>quadro:<%= veiculo.numero_quadro %> </h4>
							<h4>Combustivel:<%= veiculo.combustivel %> </h4>
						</li>
						<li>
							<h5>Detalhes </h5>
							<h4>Motor:<%= veiculo.numero_motor %> </h4>
							<h4>Eixo:<%= veiculo.distancia_eixo %> Cm </h4>
							<h4>Tipo Caixa:<%= veiculo.tipo_caixa %> </h4>
						</li>
						
					</ul>
				</div>
			
			</div>
			<div class="right_side">
				<div class="about">
					<h2 class="title2">Auto Seguro</h2>
					<p> A AutoSeguro acredita que todos precisam de sentir segurança nas nossas vidas.Para tal, criamos uma vasta oferta de soluções pensadas no bem-estar de todos os Angolanos.
						Somos uma empresa socialmente responsavel de Seguro,que promove activamente a sustentabilidade, a integridade e a qualidade ,princípios orientadores da nossa missão enquanto elemento activo da sociedade Angolana <br><br>
						O processo de melhoraria constante é nosso objectivo,essa busca constante pela qualidade será transversal a todos os nossos envolventes, pos garatiremos:
						<ul>
							<li>Qualidade nos nossos serviços</li>
							<li>Tranquilidade na execução</li>
							<li>Soluções imediato dos problemas</li>
						</ul>
						
						
						
						  </p>
				</div>
				<div class="about">
					<h2 class="title2">Tempo de Seguro</h2>
					<div class="box">
						<div class="year_company">
							<h5> <%= apolice.dia_inicio %>  </h5>
							<h5> Data de inicio </h5>

						</div>
						<div class="text">
							<h4>Assegurado - Seguradora</h4>
							<br><p>Neste período de tempo o assegurado tem a mabilidade de emitir sinistro para a Auto Seguro a fim de ser solucionado</p>
						</div>
					</div>
					<div class="box">
						<div class="year_company">
							<h5> <%= apolice.dia_fim %>  </h5>
							<h5> Data de fim </h5>
							

						</div>
						<div class="text">
							<h4>Seguradora - Assegurado</h4>
						<br>
							<p>Neste período a Seguradora cancelará todos os benefícios do segurado, restringindo assim algumas mabilidades</p>
						</div>
					</div>
				</div>
				<div class="about tipo">
					<h2 class="title2">Informação do Seguro</h2>
					
					<% if(apolice.tipo_seguro== 3){ %> 
						<h3>Contra Todos os riscos</h3>
						<h4>O que Cobre ?</h4>
						
					<div class="box">
						<h4>Danos proprio</h4>
						<div class="percent">
							<div style="width:100%"></div>
						</div>

					</div>
					<div class="box">
						<h4>Danos Terceiro</h4>
						<div class="percent">
							<div style="width:100%"></div>
						</div>

					</div>
					<div class="box">
						<h4>Furto ou Roubo</h4>
						<div class="percent">
							<div style="width:100%"></div>
						</div>

					</div>
					<div class="box">
						<h4>Capotamento</h4>
						<div class="percent">
							<div style="width:100%"></div>
						</div>

					</div>
					<div class="box">
						<h4>Colisão</h4>
						<div class="percent">
							<div style="width:100%"></div>
						</div>

					</div>
					<div class="box">
						<h4>Fenómenos Naturais</h4>
						<div class="percent">
							<div style="width:100%"></div>
						</div>

					</div>
					<div class="box">
						<h4>Perda Total</h4>
						<div class="percent">
							<div style="width:100%"></div>
						</div>

					</div>
					<% }else{ %> 
						<h3>Contra Terceiro</h3>
						<h4>O que Cobre ?</h4>
						
					<div class="box">
						<h4>Danos Terceiros</h4>
						<div class="percent">
							<div style="width:100%"></div>
						</div>

					</div>

						<% } %> 
			
					
					</div>
					<div class="about interest">
						<h2 class="title2">Detalhes do Seguro</h2>
						<ul>
							<li> <i class="fas fa-play"></i> Plano: <%= apolice.plano_desejado %> </li>
							<% if(apolice.tipo_seguro== 3){%>
							<li><i class="fas fa-chart-line"></i>Franquia: <%= apolice.franquia %> </li>
							<%}%>
							<li><i class="fas fa-play"></i>Nº Apólice: <%= apolice.secret %> </li>
							<li><i class="fas fa-money-bill"></i>Custo: <%= apolice.valor %> Kz </li>
							<li><i class="fas fa-calendar-alt"></i>Data Criação: <%= apolice.createdAt %> </li>
							
							<li>Estado: <% if(apolice.estado == 1){%>
                                <i style="color: rgb(115, 181, 15);">Operacional</i>  
								<% }else {%>
									<i style="color: red;"> Fora de Uso</i>  
                                 
								<% }%> </li>
						</ul>
					
					</div>
					<div class="qr_code">
						<img src="<%=src%>" alt="">
						<span class="text">apl digital</span>
					</div>
				</div>
			</div>
		</div>


	<script>
	
		window.addEventListener("load", window.print());
	
		
	</script>
</body>
</html>