<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Post Create &mdash; Stisla</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="/assets/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/modules/fontawesome/css/all.min.css">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="/assets/modules/summernote/summernote-bs4.css">

  <link rel="stylesheet" href="/assets/modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">

  <!-- Template CSS -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/components.css">

     <!--Mapa-->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin="" />

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>


<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <!--Nav bar-->
      <%- include ../partials/navbar.ejs %>
        <!--sidebar-->

        <%- include ../partials/sidebar.ejs %>
          <div class="main-content">
            <section class="section">
              <div class="section-header">
                <div class="section-header-back">
                  <a href="#" class="btn btn-icon"><i class="fas fa-arrow-left"></i></a>
                </div>
                
                <div class="section-header-breadcrumb">

                  <div class="breadcrumb-item">Notificando</div>
                </div>
              </div>

              <div class="section-body">
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-body">
                        <form method="POST" action="/user/notificar/furto/save" class="needs-validation" novalidate=""
                          enctype="multipart/form-data">
                          <div id="mapid" data-height="400" ></div>
                        <input type="hidden" name="lat" >
                        <input type="hidden" name="lng" >


                          <div class="mt-4">
                            <ul id="instructions" class="list-unstyled list-unstyled-border">O Assegurado(a)</ul>
                          </div>
                          <div class="row">
                            <div class="form-group col-6">
                              <input   class="form-control pwstrength" value="Acidente Rodoviario" disabled>
                              
                            </div>
                            <div class="form-group col-6">
                              <input   class="form-control" value=" Proprietario" disabled >
         
                            </div>
                          </div>
                          <div class="row">
                            <div class="form-group col-6">
                              <input   class="form-control pwstrength" value="<%= user.name %> " disabled>
                              
                            </div>
                            <div class="form-group col-6">
                              <input   class="form-control" value=" <%= user.endereco %> " disabled >
         
                            </div>
                          </div>
                        
                          <div class="mt-4">
                            <ul id="instructions" class="list-unstyled list-unstyled-border">Viatura em Questão</ul>
                          </div>
                          <div class="row">
                            <div class="form-group col-6">
                              <label for="">Matricula</label>
                              <select class="form-control selectric" name="matricula">
                                <% veiculo.forEach(veiculo=> { %>
                                  <option value="<%= veiculo.matricula %> ">
                                    <%= veiculo.matricula %>
                                  </option>
                                  <% }) %>
                              </select>
                            </div>
                            <div class="form-group col-6">
                              <label for="">Documento(img[extenssion]/pdf)</label>
                              <div class="custom-file">
                                <input type="file" class="form-control" id="customFile" name="documento" onchange= "ValidarExt()"  autofocus required>

                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <Label>Descricao</Label>
                            <textarea class="form-control" placeholder="textarea" name="descricao" autofocus
                              required></textarea>
                          </div>
                          <div class="form-divider">
                            <input type="hidden" class="form-control" name="id" value="<%= user.id %> ">
                          </div>




                          <div class="form-group">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" name="agree" class="custom-control-input" id="agree" autofocus
                                required>
                              <label class="custom-control-label" for="agree">Selecionar para estar tudo certo</label>

                            </div>
                          </div>

                          <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">
                              Enviar Ocorrencia
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </section>
          </div>
          <footer class="main-footer">
            <div class="footer-left">
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear())
              </script>
            </div>
            <div class="footer-right">

            </div>
          </footer>
    </div>
  </div>
  <script src="/assets/modules/sweetalert/sweetalert2.all.min.js"></script>
  <script>







    function ValidarExt() {
      var customFile = document.getElementById('customFile');
      var customRuta = customFile.value;
      var customPermitidas = /(.jpg|.png|.PNG.|JPG|.jpeg|.JPEG|.pdf|.PDF|.svg|.SVG)$/i;
      if (!customPermitidas.exec(customRuta)) {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Extensão não permitido!',

        })
        customFile.value = '';
        return false
      }
    }
  </script>

  <!-- General JS Scripts -->
  <script src="/assets/modules/jquery.min.js"></script>
  <script src="/assets/modules/popper.js"></script>
  <script src="/assets/modules/tooltip.js"></script>
  <script src="/assets/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="/assets/modules/moment.min.js"></script>
  <script src="/assets/js/stisla.js"></script>
  <script src="/script/map_create.js"></script>

  <!-- JS Libraies -->

  <script src="/assets/modules/summernote/summernote-bs4.js"></script>

  <script src="/assets/modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>

  <!-- Page Specific JS File -->



  <!-- Template JS File -->
  <script src="/assets/js/scripts.js"></script>
  <script src="/assets/js/custom.js"></script>
</body>

</html>