<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Tickets &mdash; Stisla</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="/assets/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/modules/fontawesome/css/all.min.css">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="/assets/modules/summernote/summernote-bs4.css">
  <link rel="stylesheet" href="/assets/modules/chocolat/dist/css/chocolat.css">

  <!-- Template CSS -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/components.css">
<!-- Start GA -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-94034622-3');
</script>
<!-- /END GA --></head>

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <!--nav bar-->
      <%- include ../partials/navbar.ejs %> 
      <!--side bar-->
      <%- include ../partials/sidebar.ejs %> 

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Editando</h1>
          </div>

          <div class="section-body">
            <div class="row">
              <div class="col-md-12">
                <div class="login-brand">
                  <img src="/uploads/<%= noti.user.img %> " alt="logo" width="100" class="shadow-light rounded-circle">
                </div>
                <div class="card">
                  <div class="card-header">
                    <div class="mt-4">
                      <ul id="instructions" class="list-unstyled list-unstyled-border">O Assegurado(a)</ul>
                    </div>
                  </div>
                  <form method="POST" action="/tecnico/salvar/registo" class="needs-validation" novalidate="" enctype="multipart/form-data"  >
                    <div class="row">
                     
                     
                        <div class="form-group col-6">
                          <input   class="form-control pwstrength" value="<%= noti.user.name %> " disabled>
                          
                        </div>
                        <div class="form-group col-6">
                          <input   class="form-control" value=" <%= noti.user.endereco %> " disabled >
     
                        </div>
                     
                     
                        <div class="form-group col-6">
                          <input   class="form-control pwstrength" value="<%= noti.user.provincia %> " disabled>
                          
                        </div>
                        <div class="form-group col-6">
                          <input   class="form-control" value=" <%= noti.user.municipio %> " disabled >
     
                        </div>
                     
                     
                        <div class="form-group col-6">
                          <input   class="form-control pwstrength" value="Género: <%= noti.user.sexo %> " disabled>
                          
                        </div>
                        <div class="form-group col-6">
                          <input   class="form-control" value="Estado Civil: <%=noti.user.tel %> " disabled >
     
                        </div>
                        <div class="form-group col-6">
                          <input   class="form-control pwstrength" value="Género: <%= noti.user.email %> " disabled>
                          
                        </div>
                        <div class="form-group col-6">
                          <input   class="form-control" value="Estado Civil: <%=noti.user.estado_civil %> " disabled >
     
                        </div>
                      </div>
                      <div class="mt-4">
                      
                      </div>
                      <div class="mt-4">
                        <ul id="instructions" class="list-unstyled list-unstyled-border">Viatura em Questão</ul>
                      </div>
                      <div class="row">
                  <div class="form-group col-6">
                    
                    <input id="password" disabled class="form-control pwstrength"  value="Matricula:<%= veiculo.matricula %>" >
                    </div>
                    <div class="form-group col-6">
                      
                      <input id="password2" disabled class="form-control" value="Nº Cilindro:<%= veiculo.cilindrada%>">
                       </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-6">
                      
                      <input id="password" disabled class="form-control pwstrength" value="Nº Quadro:<%= veiculo.numero_quadro%>" >
                      </div>
                      <div class="form-group col-6">
                        
                        <input id="password2" disabled class="form-control" value="Combustivel:<%= veiculo.combustivel %>">
                         </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-6">
                        
                        <input id="password" disabled class="form-control pwstrength" value="Peso:<%= veiculo.peso %>" >
                        </div>
                        <div class="form-group col-6">
                          
                          <input id="password2" disabled class="form-control" value="Tara:<%= veiculo.tara %> KG">
                           </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-6">
                          
                          <input id="password" disabled class="form-control pwstrength" value="Tipo Caixa:<%= veiculo.tipo_caixa %>" >
                          </div>
                          <div class="form-group col-6">
                            
                            <input id="password2" disabled class="form-control" value="Distancia Eixo:<%= veiculo.distancia_eixo %> Cm">
                             </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-6">
                            
                            <input id="password" disabled class="form-control pwstrength" value="Nº Cilindro:<%= veiculo.numero_cilindro%>" >
                            </div>
                            <div class="form-group col-6">
                              
                              <input id="password2" disabled class="form-control" value="Nº Motor:<%= veiculo.numero_motor%>">
                               </div>
                          </div>
                      <div class="mt-4">
                      <input type="hidden" name="matricula" value="<%= veiculo.matricula %>">
                      </div>
                     
                      <div class="mt-4">
                        <ul id="instructions" class="list-unstyled list-unstyled-border">Tipo de Seguro</ul>
                      </div>
                      <% if(apolice.tipo_seguro < 3){%> 
                        <% if(noti.danos_terceiro =="Sim"){%> 
                          <div class="row">
                             
                              <div class="col-md-6 ">
                                  <div class="form-group">
                                      <label>Matricula/Terceiro</label>
                                      <input type="text" class="form-control" name="matricula_terceiro" placeholder="Home Address" >
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>NIF:(terceiro)</label>
                                      <input type="text" class="form-control" name="bi"  >
                                  </div>
                              </div>
                          </div>
    
                          <%} %> 

                     <%  } %> 
                    
                   
                
                  <div class="row">
                      <div class="col-md-4 pr-1">
                          <div class="form-group">
                              <label>Classificando</label>
                              <select name="tipo" class="form-control" required>
                                  <option disabled="disabled" selected="selected">--Sinistralidade--</option>
                                  <option value="Integral">Sinistralidade Integral</option>
                                  <option value="Perda_total">Perda Total</option>
                                
                              </select>
                          </div>
                      </div>
                      <div class="col-md-4 px-1">
                          <div class="form-group">
                              <label>Código Apolice</label>
                              <% if(apolice.secret==null){%> 
                       <input type="text" class="form-control" disabled="" name="codigo_apolice"  value="<%= apolice%> ">
                       <%}else{%> 
                       <input type="text" class="form-control" disabled="" name="codigo_apolice"  value="<%= apolice.secret%> ">
                       <% } %> 
                             
                          </div>
                      </div>
                      <div class="col-md-4 pl-1">
                          <div class="form-group">
                              <label>Imagen</label>
                              <input type="file" class="form-control" name="image"  accept="image/*" required>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label>Descrição</label>
                              <textarea rows="4" cols="80" class="form-control" required name="descricao" placeholder="---Descreve Aqui---"></textarea>
                          </div>
                      </div>
                  </div>
                  <input type="hidden" name="idn" value="<%= noti.id %> ">
                   
    
                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="agree" class="custom-control-input" id="agree" autofocus required>
                        <label class="custom-control-label" for="agree">I agree with the terms and conditions</label>
                        <div class="invalid-feedback">
                          Condadas com isso?
                           
                         </div>
                      </div>
                    </div>
    
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-lg btn-block">
                        Submeter Ocorrencia
                      </button>
                    </div>
                  </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="footer-left">
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>
      </div>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="/assets/modules/jquery.min.js"></script>
  <script src="/assets/modules/popper.js"></script>
  <script src="/assets/modules/tooltip.js"></script>
  <script src="/assets/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="/assets/modules/moment.min.js"></script>
  <script src="/assets/js/stisla.js"></script>

 
  <!-- JS Libraies -->
  <script src="/script/Corretor_notificacao.js"></script>
  <script src="/assets/modules/summernote/summernote-bs4.js"></script>
  <script src="/assets/modules/chocolat/dist/js/jquery.chocolat.min.js"></script>

  <!-- Page Specific JS File -->
  
  <!-- Template JS File -->
  <script src="/assets/js/scripts.js"></script>
  <script src="/assets/js/custom.js"></script>
</body>
</html>