<!DOCTYPE html>
<html lang="en" class="crt crt-side-box-on crt-nav-on crt-nav-type2 crt-main-nav-on crt-sidebar-on crt-layers-1">

<!-- Mirrored from certy.px-lab.com/html/demo1/index.php by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 May 2022 15:51:26 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Relatorio Mensais</title>
    <meta name="description" content="">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">

    <link href="/assets-2/fonts/icomoon/style.css" rel="stylesheet">

    <link href="/assets-2/css/plugins.min.css" rel="stylesheet">
    <link href="/assets-2/css/style.min.css" rel="stylesheet">

    <script type="text/javascript" src="/assets-2/js/vendor/modernizr-3.3.1.min.js"></script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-92973565-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body class="">
    <div class="crt-wrapper">

        <div id="crt-container" class="crt-container">


            <div class="crt-container-sm">
                <div id="about" class="crt-paper-layers crt-animate">
                    <div class="crt-paper clearfix">
                        <div class="crt-paper-cont paper-padd clear-mrg">
                            <section class="section brd-btm padd-box">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h2 class="title-lg text-upper">Auto seguro</h2>
                                        <div class="text-box">
                                            <p><b>Relatorios presentes!</b><br>
                                            
                                                    <ul>
                                                        <li>Clientes</li>
                                                        <li>alerta roubo</li>
                                                        <li>Alerta Acidente</li>
                                                        <li>Pontos</li>
                                                        <li>apolice</li>
                                                    </ul>
                                                    
                                                    
                                                    
                                                      </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="crt-share-box clearfix">
                                           
                                               
                                         
                                        </div>

                                    </div>
                                    <div class="col-sm-3 text-right">
                                       
                                      <i>Clientes</i>  
                                           
                                    </div>
                                </div>

                            </section>

                            <section class="section padd-box">
                                <div class="row">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Contacto</th>
                                           
                                            <th>nif</th>
                                            <th>Data</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%clientes.forEach(clientes=> { %>
                                        <tr>
                                     <td><%= clientes.name %> </td>
                                     <td><%= clientes.tel %></td>
                                    
                                     <td><%= clientes.nif %></td>
                                     <td><%= clientes.createdAt %></td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="crt-share-box clearfix">
                                           
                                               
                                         
                                        </div>

                                    </div>
                                    <div class="col-sm-3 text-right">
                                       
                                      <i>Clientes</i>  
                                           
                                    </div>
                                </div>
                                <br>
                                <br>
                                <table>
                                    <thead>                                 
                                      <tr>
                                        <th >
                                          #
                                        </th>
                                        
                                        <th>E-mail</th>
                                        <th>Data</th>
                                        
                                        
                                       
                                      </tr>
                                    </thead>
                                    <tbody>   
                                      <% inscritos.forEach(inscritos => { %>                              
                                      <tr>
                                        
                                         <td> <%= inscritos.id %> </td>
                                        <td><%= inscritos.email %> </td>
                                        <td><%= inscritos.createdAt %> </td>
             
                                
                                      </tr>
                                     
                                      <% }) %>
                                    </tbody>
                                  </table>
                                  <div class="row">
                                    <div class="col-sm-9">
                                        <div class="crt-share-box clearfix">
                                           
                                               
                                         
                                        </div>

                                    </div>
                                    <div class="col-sm-3 text-right">
                                       
                                      <i>Notificaçõees</i>  
                                           
                                    </div>
                                </div>
                                <br>
                                <br>
                                <table class="table table-striped" id="table-1">
                                    <thead>                                 
                                      <tr>
                                        <th>
                                          #
                                        </th>
                                        <th>Lat</th>
                                        <th>Lng</th>
                                        <th>Provincia</th>
                                        <th>Municipio</th>
                                        <th>Data</th>
                                        <th>Cliente</th>
                                       
                                      </tr>
                                    </thead>
                                    <tbody>   
                                      <% notificacao.forEach(notificacao => { %>                              
                                      <tr>
                                        <td>
                                          <%= notificacao.id %> 
                                        </td>
                                        <td><%= notificacao.lat %> </td>
                                        <td><%= notificacao.lng %> </td>
                                        <td><%= notificacao.provincia %> </td>
                                        <td><%= notificacao.municipio %> </td>
                                        <td><%= notificacao.createdAt%> </td>
                                      
            
                                        <td>
                                        
                                            <%= notificacao.user.user_name %>
                                        </td>
                                      </tr>
                                     
                                      <% }) %>
                                    </tbody>
                                  </table>
                                  <div class="row">
                                    <div class="col-sm-9">
                                        <div class="crt-share-box clearfix">
                                           
                                               
                                         
                                        </div>

                                    </div>
                                    <div class="col-sm-3 text-right">
                                       
                                      <i>Apolice</i>  
                                           
                                    </div>
                                </div>
                                <br>
                                <br>
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                      <tr>
      
                                        <th>Titular</th>
                                        <th>Img</th>
                                        <th>Marca</th>
                                       
                                        <th>Matricula</th>
                                 
                                        <th>Nº Apolice</th>
                                       
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <% apolice.forEach(dados=> { %>
                                        <tr>
                                         
                                        <td> <%= dados.user.name%></td>
      
                                          <td>
                                            <img alt="image" src="/uploads/<%= dados.user.img %> " class="rounded-circle"
                                              width="35" data-toggle="tooltip" title="<%= dados.user.user_name %> ">
                                          </td>
                                          <td>
                                            <%= dados.marca%>
                                          </td>
                                          <td>
                                            <%= dados.matricula %>
                                          </td>
                                             
                                                  <td>
                                                  
                                                      <%= dados.secret %>
                                                    </td>
                                                    
                                                   
                                 
                                        </tr>
      
                                        <% }) %>
                                    </tbody>
                                  </table>
                                  <div class="row">
                                    <div class="col-sm-9">
                                        <div class="crt-share-box clearfix">
                                           
                                               
                                         
                                        </div>

                                    </div>
                                    <div class="col-sm-3 text-right">
                                       
                                      <i>Roubo de Viatura</i>  
                                           
                                    </div>
                                </div>
                                <br>
                                <br>
                                <table class="table table-striped" id="table-1">
                                    <thead>                                 
                                      <tr>
                                        <th class="text-center">
                                          #
                                        </th>
                                        <th>Nome</th>
                                        
                                        <th>Imagem</th>
                                        <th>Matricula</th>
                                       
                                       
                                      </tr>
                                    </thead>
                                    <tbody>   
                                      <% roubo.forEach(roubados => { %>                              
                                      <tr>
                                        <td>
                                          <%= roubados.id %> 
                                        </td>
                                        <td><%= roubados.user.name %> </td>
                                       
                                        
                                        
                                        <td>
                                          <img alt="image" src="/uploads/<%=roubados.user.img %> " class="rounded-circle" width="35" data-toggle="tooltip" title="<%= roubados.user.user_name %> ">
                                        </td>
                                        <td><%= roubados.matricula %> </td>
                                      
                                      
                                        
                                       
                                      </tr>
                                     
                                      <% }) %>
                                    </tbody>
                                  </table>


                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="crt-share-box clearfix">
                                           
                                               
                                         
                                        </div>

                                    </div>
                                    <div class="col-sm-3 text-right">
                                       
                                      <i>pontos</i>  
                                           
                                    </div>
                                </div>
                                <br>
                                <br>
                                <table class="table table-striped" id="table-1">
                                    <thead>                                 
                                      <tr>
                                        <th>
                                          #
                                        </th>
                                        <th>Lat</th>
                                        <th>Lng</th>
                                        <th>Entidade</th>
                                        <th>Nome</th>
                                        <th>Whatsapp</th>
                                       
                                       
                                      </tr>
                                    </thead>
                                    <tbody>   
                                      <% pontos.forEach(dados => { %>                              
                                      <tr>
                                        <td>
                                          <%= dados.id %> 
                                        </td>
                                        <td><%= dados.lat %> </td>
                                        <td><%= dados.lng %> </td>
                                        <td><% if(dados.entidade ==0 ){%>
                                             Seguradora Auto
                                          <%  }else{%>
                                                Oficina
                                            <%  }%> </td>
                                        <td><%= dados.name %> </td>
                                        <td><%= dados.whatsapp%>  </td>
                                      
                  
                                       
                                      </tr>
                                     
                                      <% }) %>
                                    </tbody>
                                  </table>

                                </div>

                            </section>

                        </div>

                    </div>

                </div>



            </div>

        </div>


        <footer id="crt-footer" class="crt-container-lg">
            <div class="crt-container">
                <div class="crt-container-sm clear-mrg text-center">
                    <p>Auto seguro @ A sua segurança é a nossa prioridade</p>
                </div>
            </div>

        </footer>

        <svg id="crt-bg-shape-1" class="hidden-sm hidden-xs" height="519" width="758">
            <polygon class="pol" points="0,455,693,352,173,0,92,0,0,71" />
        </svg>
        <svg id="crt-bg-shape-2" class="hidden-sm hidden-xs" height="536" width="633">
            <polygon points="0,0,633,0,633,536" />
        </svg>
    </div>


    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="text/javascript" src="../../../ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets-2/js/vendor/jquery-1.12.4.min.js"><\/script>')</script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiwY_5J2Bkv2UgSeJa4NOKl6WUezSS9XA"></script>
    <script type="text/javascript" src="/assets-2/js/plugins.min.js"></script>
    <script type="text/javascript" src="/assets-2/js/theme.min.js"></script>
    <script>
        window.addEventListener("load", window.print());
        window.location = '/admin/relatoriosistema'
    </script>
</body>

<!-- Mirrored from certy.px-lab.com/html/demo1/index.php by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 May 2022 15:51:26 GMT -->

</html>